:root {
  --page-padding: 10%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: MotivaSans;
}
body {
  overflow-x: hidden;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

@media screen and (max-width: 1400px) {
  :root {
    --page-padding: 5%;
  }
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 576px) {
  :root {
    --page-padding: 2%;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
}
